.CreateListing {
  min-height: 90vh;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CreateListingCard {
  height: 720px;
  overflow-y: auto;
  box-shadow: 2px 4px 10px rgba(185, 185, 185, 0.698);
  overflow-x: hidden;
}

.AddImageButton {
  margin-left: 17%;
  width: 100%;
}

@media only screen and (max-width: 625px) {
  .CreateListingCard {
    width: 100% !important;
  }
}

@media only screen and (max-width: 575px) {
  .AddImageButton {
    margin-left: 0%;
  }
}
